h2.title { font-size: 68px; letter-spacing: -3px; font-weight: bold; text-align: center; margin-top: 35px; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
	background: url(../images/gradient.gif) repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation-name: masked-animation;
	-webkit-animation-duration: 40s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
h2.title span { font-size: 38px; line-height: 48px; display: block; letter-spacing: -2px; -webkit-text-fill-color: rgba(0, 0, 0, 0.1); text-shadow: rgba(255, 255, 255, 0.6) 0px 1px 1px; }


@-webkit-keyframes masked-animation {
	0% { background-position: left bottom; }
	100% { background-position: right bottom; }
}

#grid { margin: 35px 0; }
#grid li { float: left; list-style: none; margin: 0 25px 25px 0; position: relative; overflow: hidden; height: 200px; border-top: 1px solid rgba(255, 255, 255, 0.25);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	-ms-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}
#grid li.end { margin-right: 0; }
#grid li:nth-child(3n) { margin-right: 0; }
#grid li:hover { z-index: 2;
	-webkit-transform: scale(1.2) translateY(-40px);	
	-moz-transform: scale(1.2) translateY(-40px);	
	-ms-transform: scale(1.2) translateY(-40px);	
	transform: scale(1.2) translateY(-40px);	
	-webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}
#grid li:nth-child(3n):hover {
	-webkit-transform: scale(1.2) translate3d(0, -30px, 0) rotate(2.5deg);	
	-moz-transform: scale(1.2) translateY(-40px) rotate(2.5deg);	
	-ms-transform: scale(1.2) translateY(-40px) rotate(2.5deg);	
	transform: scale(1.2) translateY(-40px) rotate(2.5deg);	
}
#grid li:nth-child(3n-2):hover {
	-webkit-transform: scale(1.2) translate3d(0, -30px, 0) rotate(-2.5deg);
	-moz-transform: scale(1.2) translateY(-40px) rotate(-2.5deg);
	-ms-transform: scale(1.2) translateY(-40px) rotate(-2.5deg);
	transform: scale(1.2) translateY(-40px) rotate(-2.5deg);
}

#grid img, #grid li {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#grid .details { position: absolute; bottom: 0; background: #fff; background: rgba(255, 255, 255, 0.87); border-top: 1px solid #fff; width: 270px; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 10px;
	-webkit-border-radius:  0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
}
#grid .details h3 { margin-bottom: 0px; }
#grid .details a.more { position: absolute; right: 10px; top: 5px; font-size: 12px; padding: 6px 10px; background-color: rgba(0, 0, 0, 0.03);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.6);
	-webkit-transition: all 0.15s ease-in;
}

#grid .details a.more:hover { background-color: #0090e2; color: #fff; }

#information { z-index: 20; }
#information li div h3 { background-color: #0090E2; color: white; font-size: 20px; font-weight: bold; margin: -30px -30px 20px; padding: 15px 30px; text-shadow: rgba(0, 0, 0, 0.4492); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45); }

li[id] { overflow: hidden; position: absolute; width: 0; height: 0; left: 0; top: 100%; 
	-webkit-transition: top 0.4s cubic-bezier(0.8,0.2,0,1);
	-moz-transition: top 0.4s cubic-bezier(0.6,0,0,1);
	transition: top 0.4s cubic-bezier(0.6,0,0,1);
}
li[id] div a.close { font-family: Helvetica,Arial,  sans-serif; position: absolute; top: 15px; right: 15px; color: #fff; text-transform: uppercase; font-weight: bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45); }
li[id] div a.close:before { content: "Close "; font-size: 10px; position: relative; top: -2px; }

li[id]:target { width: 680px; height: 100%; opacity: 1; z-index: 10; position: fixed; overflow-x: hidden; overflow-y: scroll; margin: 0 auto; left: 25%; top: 0%; }

li[id]:target::-webkit-scrollbar { width: 14px; background-color: rgba(0,0,0,0.6); }
li[id]:target::-webkit-scrollbar-track { }
li[id]:target::-webkit-scrollbar-thumb { -webkit-border-radius: 1ex; background-color: #6CF; width: 16px; border: 1px solid rgba(0, 0, 0, 0.7); background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.21, rgb(255,255,255)),
    color-stop(0.63, rgb(207,207,207))
);

 }

li[id]:target div { position: relative; margin: 0 auto; background: #fff; width: 640px; min-height: 100%; padding: 30px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-sizing: border-box;
}

.no-csstransforms #information li { overflow: visible; position: relative; margin: 0 auto; margin-bottom: 25px; background: #fff; width: 545px; padding: 30px; height: auto; list-style: none; }	
.no-csstransforms #information li div a.close { position: relative; background: transparent; padding: 0; color: #0090e2; font-size: 12px; font-weight: normal; left: 0; top: 0; }	
